*{
    font-family: 'Rubik', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
nav{
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%), inset 0 -1px 0 rgb(0 0 0 / 15%);
}

.card{
    box-shadow: 0 0.5rem 0.5rem rgba(208, 208, 208, 0.250), inset 0 -1px 0 rgba(188, 188, 188, 0.250); 
    border: none !important;
    transition: 0.3s;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

h2, span{
    color: #778899;
}

a > img {
    margin-left: 20px;
    margin-right: 5px;
} 

button{
    display: flex !important;
    justify-content: center;
    align-items: center !important;
    gap: 5px;
    font-family: sans-serif !important; 
}
table{
    color: #778899;
}
footer {
    position: relative;
    bottom: 0;
    color: #778899;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    width: 100%;
    box-shadow: 0 0.5rem 0.5rem rgba(208, 208, 208, 0.250), inset 0 3px 0 rgba(188, 188, 188, 0.250); 
    margin-top: 2rem;
}
  
  .footer-iconos {
    margin-left: 20px;
    align-items: center; }

a:link {
    text-decoration: none;
    color: #778899;
  }
  
  a:hover {
    color: #FFF;
  }
  .footer-iconos:hover {
    color: #3BC492;
  }
  .footer-iconos{
    margin: 0%;
    
  }
 .back-picture{
    background-color: #FFF;
    opacity:0.6;
    margin: 0;
    color: black !important;
 }
 
 @media screen and (max-width: 480px) {
    footer {
      flex-direction: column; }
    .dropdow-mobile{
        margin-top: 60px !important;
        margin-right: 0 !important;
        right: 20% !important;
        width: fit-content !important;
    }
}

